*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(41, 104, 50);
    color: white;
}
.main-container{
    margin: 0 auto;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
}
h1{
    color: gold;
}
#message-el{
    font-style: italic;
}
button{
    color: #015226;
    width: 150px;
    background: gold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin: 4px 0;
}